<header class="l-header">
<div class="l-header_inner">
<div class="header-logo"><a href="/">Webpage assistant</a></div>
<button type="button" class="nav-button js-slide-nav" aria-controls="slide-nav"><span class="js-slide-nav_text">ナビゲーションを開く</span></button>
</div>
</header>
