<nav class="l-nav slide-nav-content" id="slide-nav">
<div class="l-nav_inner js-slide-nav_sticky">
<div class="nav-topic">
<ul class="nav-topic_list">
<li><a href="#whatis" class="js-scroll">Webpage assistantとは</a></li>
<li><a href="#features" class="js-scroll">特長</a></li>
<li><a href="#usage" class="js-scroll">使い方</a></li>
<li><a href="#command" class="js-scroll">コマンド一覧</a></li>
<li><a href="#environment" class="js-scroll">動作環境</a></li>
</ul>
</div>
</div>
</nav>
